<footer id="footer">
	<article class="center">
		<div class="container">
			<ul>
				<li><i class="fa fa-user-circle" aria-hidden="true"></i> Home</li>
				<li><i class="fa fa-tag" aria-hidden="true"></i> About</li>
				<li><i class="fa fa-css3" aria-hidden="true"></i> Credits</li>
			</ul>
			
		<!--<form class="formulaire" method="post" action="#">
			<label for="search"><i class="fa fa-search" aria-hidden="true"></i></label>
	
			<input type="text" id="search" class="champ" name="search" value="" placeholder="search"/>
	
			<input type="submit" id="envoi" value="Ok" />
	
		</form>-->
			
		</div>
	</article>	
</footer>