    {{>link-menu color="#000"}}
  <nav class="" id="navfix{{addId}}">
    <ul class="menu-global">
      <li><a href="index.html">Accueil</a></li>
      <li><a href="compagnie.html">Compagnie</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>

