---
layout: default.hbs
title: Cover
---

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="" id="cover-container">
    <div class="" id="cover-content">

      <header class="">
        <h2 class="text-center">Titre</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus voluptas cupiditate odio odit eligendi, corrupti hic illum aliquam, quo possimus quibusdam ad omnis saepe, commodi laudantium magni maxime reprehenderit, necessitatibus.</p>
      </header>



    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->