---
layout: default.hbs
title: Home
---


{{>nav addId='-bottom'}}
{{!>nav}}

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <section id="section-1" class="">
    <article class="center">
      <div class="container">
        <div class="box">
          <h2>Site</h2>
          <h3>Slogan</h3>
        </div>
        <div class="link bottom">
          <a class="link-down" href="#section-2">
          {{>link-down color="#FFF"}}
          </a>
        </div>
      </div>    
    </article>
  </section>

  <section id="section-2" class="">
    <!--<article class="center">-->
    <article class="">
      <div class="container">
        <div class="box">
          <h3>Actus</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ratione odio soluta harum commodi. Reprehenderit incidunt facilis ut esse laudantium, ipsa ullam, ea nam iste voluptas quae! Rerum, optio aliquid.</p>
        </div>
      </div>
      <br>
          <h3>Masonry</h3>

      <main class="grid-masonry">
          <div class="grid-item grid-item--w1">
            <div class="imgbox">
            <img src="assets/images/DSC_0020.jpg" alt="">
              <div class="caption">
                <i class="fa fa-tag fa-2x" aria-hidden="true">+</i>
                <h2>JdV # Saison 10|15</h2>
              </div>
            </div>
          </div>
          <div class="grid-item grid-item--w1">
            <div class="imgbox">
            <img src="assets/images/DSC_0020.jpg" alt="">
              <div class="caption">
                <i class="fa fa-tag fa-2x" aria-hidden="true">+</i>
                <h2>JdV # Saison 10|15</h2>
              </div>
            </div>
          </div>
          <div class="grid-item grid-item--w1">
            <div class="imgbox">
            <img src="assets/images/DSC_0020.jpg" alt="">
              <div class="caption">
                <i class="fa fa-tag fa-2x" aria-hidden="true">+</i>
                <h2>JdV # Saison 10|15</h2>
              </div>
            </div>
          </div>
          <div class="grid-item grid-item--w1">
            <div class="imgbox">
            <img src="assets/images/DSC_0020.jpg" alt="">
              <div class="caption">
                <i class="fa fa-tag fa-2x" aria-hidden="true">+</i>
                <h2>JdV # Saison 10|15</h2>
              </div>
            </div>
          </div>
          <div class="grid-item grid-item--w1">
            <div class="imgbox">
            <img src="assets/images/DSC_0020.jpg" alt="">
              <div class="caption">
                <i class="fa fa-tag fa-2x" aria-hidden="true">+</i>
                <h2>JdV # Saison 10|15</h2>
              </div>
            </div>
          </div>
          <div class="grid-item grid-item--w1">
            <div class="imgbox">
            <img src="assets/images/DSC_0020.jpg" alt="">
              <div class="caption">
                <i class="fa fa-tag fa-2x" aria-hidden="true">+</i>
                <h2>JdV # Saison 10|15</h2>
              </div>
            </div>
          </div>
          <div class="grid-item grid-item--w1">
            <div class="imgbox">
            <img src="assets/images/DSC_0020.jpg" alt="">
              <div class="caption">
                <i class="fa fa-tag fa-2x" aria-hidden="true">+</i>
                <h2>JdV # Saison 10|15</h2>
              </div>
            </div>
          </div>
          <div class="grid-item grid-item--w1">
            <div class="imgbox">
            <img src="assets/images/DSC_0020.jpg" alt="">
              <div class="caption">
                <i class="fa fa-tag fa-2x" aria-hidden="true">+</i>
                <h2>JdV # Saison 10|15</h2>
              </div>
            </div>
          </div>
          <div class="grid-item grid-item--w1">
            <div class="imgbox">
            <img src="assets/images/DSC_0020.jpg" alt="">
              <div class="caption">
                <i class="fa fa-tag fa-2x" aria-hidden="true">+</i>
                <h2>JdV # Saison 10|15</h2>
              </div>
            </div>
          </div>
          <div class="grid-item grid-item--w1">
            <div class="box">
              <h4>Lorem ipsum dolor sit amet, consectetur.</h4>
              <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quae?</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dolore repellendus eligendi, voluptas repellat. Voluptatem eius cumque, perspiciatis quasi aut mollitia saepe obcaecati minus temporibus ipsum, suscipit quae ullam omnis.</p>
            </div>
          </div>
          <div class="grid-item grid-item--w2">
            <div class="box">
              <h4>Lorem ipsum dolor sit amet, consectetur.</h4>
              <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quae?</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dolore repellendus eligendi, voluptas repellat. Voluptatem eius cumque, perspiciatis quasi aut mollitia saepe obcaecati minus temporibus ipsum, suscipit quae ullam omnis.</p>
            </div>
          </div>
          <div class="grid-item grid-item--w1">
            <div class="box">
              <h4>Lorem ipsum dolor sit amet, consectetur.</h4>
              <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quae?</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dolore repellendus eligendi, voluptas repellat. Voluptatem eius cumque, perspiciatis quasi aut mollitia saepe obcaecati minus temporibus ipsum, suscipit quae ullam omnis.</p>
            </div>
          </div>
          <div class="grid-item grid-item--w1">
            <div class="box">
            <img src="assets/images/DSC_0020.jpg" alt="">
              <h4>Lorem ipsum dolor sit amet, consectetur.</h4>
              <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quae?</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dolore repellendus eligendi, voluptas repellat. Voluptatem eius cumque, perspiciatis quasi aut mollitia saepe obcaecati minus temporibus ipsum, suscipit quae ullam omnis.</p>
            </div>

          </div>
          <div class="grid-item grid-item--w1">
            <div class="box">
              <h4>Lorem ipsum dolor sit amet, consectetur.</h4>
              <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quae?</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dolore repellendus eligendi, voluptas repellat. Voluptatem eius cumque, perspiciatis quasi aut mollitia saepe obcaecati minus temporibus ipsum, suscipit quae ullam omnis.</p>
            </div>
          </div>
          <div class="grid-item grid-item--w2">
            <div class="box">
              <h4>Lorem ipsum dolor sit amet, consectetur.</h4>
              <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quae?</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dolore repellendus eligendi, voluptas repellat. Voluptatem eius cumque, perspiciatis quasi aut mollitia saepe obcaecati minus temporibus ipsum, suscipit quae ullam omnis.</p>
            </div>
          </div>
          <div class="grid-item grid-item--w1">
            <div class="box">
              <h4>Lorem ipsum dolor sit amet, consectetur.</h4>
              <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quae?</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dolore repellendus eligendi, voluptas repellat. Voluptatem eius cumque, perspiciatis quasi aut mollitia saepe obcaecati minus temporibus ipsum, suscipit quae ullam omnis.</p>
            </div>
          </div>
          <div class="grid-item grid-item--w1">


          </div>

      </main>    
        <div class="link">
          <a href="#section-1" class="link-up">{{>link-up color="#000"}}</a>
        </div>
    </article>
  </section>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->